POSTGRES_DB=cloud_security
POSTGRES_USER=security_admin
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECRET_KEY=change_me

DEBUG=false
AWS_REGION=ap-south-1

ALERT_CONSOLE_NOTIFICATIONS=true
ALERT_WEBHOOK_ENABLED=false
ALERT_WEBHOOK_URL=
ALERT_WEBHOOK_TIMEOUT=5.0
ALERT_WEBHOOK_MAX_ATTEMPTS=3
ALERT_WEBHOOK_BACKOFF_SECONDS=1.0
